<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Urna Eletrônica</title>
    <link rel="stylesheet" href="/css/urnaEletronica.css" />
  </head>
  <body>
    <div class="urna">
      <!-- Tela -->
      <div class="tela">
        <div class="logo"></div>
        <img src="/images/justica-eleitoral.png" alt="justiça eleitoral" />
      </div>

      <!-- Lado direito -->
      <div class="lado-direito">
        <div class="justica-eleitoral">
         <img src="/images/justica-eleitoral logo.png" alt="justiça eleitoral" />
         <div class="titulo">JUSTIÇA ELEITORAL</div>
        </div>
        
        <div class="container-botoes">
          <div class="teclado">
            <button class="simple">1</button>
            <button class="simple">2</button>
            <button class="simple">3</button>
            <button class="simple">4</button>
            <button class="simple">5</button>
            <button class="simple">6</button>
            <button class="simple">7</button>
            <button class="simple">8</button>
            <button class="simple">9</button>
            <button class="zero">0</button>
          </div>

          <div class="acoes">
            <button class="branco">BRANCO</button>
            <button class="corrige">CORRIGE</button>
            <button class="confirma">CONFIRMA</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
